body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.MuiCardContent-root {
  padding: 0 !important;
  text-align: left;
}
div.MuiFormControl-root{
 width: 100%;
}

.roots {
  display: flex;
  flex-wrap: wrap;
}

.description {
  overflow: hidden;
  max-height: 150px;
}